<link rel="stylesheet" href="create-survey-compound.component.css" />

<!-- hearder -->
<header class="navbar">
  <div>
    <h1 class="brand">Askly</h1>
    <h5 class="slogan">Data that speaks</h5>
  </div>
</header>
<div class="div-container">
<div class="create-survey">
  <h2>Create Survey</h2>
  <div class="inputs">
  <div>
    <input type="text" placeholder="Survey Title" />
    <br />
    <input type="text" placeholder="Description" />
  </div>

  <div class="questions">
    <input type="Text" placeholder="Question" />
    <button class="add-question">Add Question</button>
   </div>

    <br />
    <div class="optionDiv">
      <input type="text" placeholder="Option" />
      <button>Add option</button>
    </div>
  </div>

  

  <div class="actions">
    <button class="cancel">Cancel</button>
    <button class="save">Save</button>
  </div>
</div>
</div>