<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Details</title>
    <link rel="stylesheet" href="survey-details.component.css">
</head>
<body>
    <div class="div-container">
    <!-- header -->
     <header class="navbar">
        <div>
            <h1 class="brand">Askly</h1>
            <h5 class="slogan">Data that speaks</h5>
        </div>
        <button class="profile-btn">Profile</button>
     </header>
    <div class="results-details">
        <div class="result-div">
        <h2>Results Details</h2>
        <p class="res">Respondents: 564</p>

        <div class="question-box">
            <p>Question...</p>
            <ul>
                <li>Option 1: 34%</li>
                <li>Option 2: 46%</li>
                <li>Option 3: 20%</li>
            </ul>
        </div>
        <div class="question-box">
            <p>Question...</p>
            <ul>
                <li>Option 1: 34%</li>
                <li>Option 2: 46%</li>
                <li>Option 3: 20%</li>
            </ul>
        </div>
      </div>
    </div>
    </div>
</body>
</html>
