<div class="survey-div">
  <div class="survey-container">
    <div class="survey">
      <div class="survey-title">
        <h2>{{option.title}}</h2>
      </div>

      <div class="question-container" *ngFor="let q of option.questions">
        <div class="question">
          <h4> Question: {{q.text}}</h4>
        </div>
        <div class="question-options" *ngFor="let choice of q.choices">
          <div class="options">
            <!-- <div *ngFor="let option of options" class="question-options"> -->
            <label>
              <input type="radio" id="option1" name="option" value="option1">
              {{choice.text}}
            </label>
          </div>
        </div>

      </div>
      </div>
      <div class="button-sector">
        <button class="cancelButton" routerLink="/home"> Cancel </button>
        <button class="submitButton" (click)="submitButton()"> Submit</button>
      </div>
    
  </div>