<form #regForm="ngForm" class="create-survey">

  <h2>REGISTER</h2>

  <label>
    <input [(ngModel)]="newUser.name" type="text" id="name" name="name" placeholder="First Name">
  </label>

  <label>
    <input [(ngModel)]="newUser.surname" type="text" id="surname" name="surname" placeholder="Last Name">
  </label>

  <label>
    <select [(ngModel)]="newUser.role" id="role" name="role">
      <option value="coordinator">Coordinator</option>
      <option value="respondent">Respondent</option>
    </select>
  </label>

  <label>
    <input [(ngModel)]="newUser.email" type="email" id="email" name="email" placeholder="email">
  </label>

  <label>
    <input [(ngModel)]="newUser.password" type="password" id="password" name="password" placeholder="password">
  </label>

  <button (click)="register()" type="button" value="register" class="save">Register</button>
</form>
