<div class="admin">
  <div class="reroute-btns">
    <button class="admin-result-btn">Results</button>
    <button class="admin-profile-btn">Profile</button>
  </div>

  <div class="create-btn-div">
    <button class="create-survey-btn">Create Survey</button>
  </div>

  <div class="admin-surveys-div">
    <div class="admin-survey-div">
      <div class="admin-survey-data-div">
        <h1 class="admin-survey-title">Title </h1>
        <h2 class="admin-survey-desc"><span class="divider">|</span>Description</h2>
        <span class="divider">|</span>
      </div>
      <div class="admin-survey-action-btn">
        <button class="admin-survey-post-btn">Post</button>
        <button class="admin-survey-edit-btn">Edit</button>
        <button class="admin-survey-delete-btn">Delete</button>
      </div>
    </div>
  </div>
</div>
